.container
	.row.m-a-md
		nav.navbar.navbar-dark.bg-primary
			a.navbar-brand(href="/")
				img(src="holder.js/100x30?theme=sky&text=#{appTitle}")
			ul.nav.navbar-nav
				li.nav-item.active
					a.nav-link(href="/admin/car/list") 列表
			ul.nav.navbar-nav.pull-right
				if loginuser
					li.nav-item
						span.nav-link 欢迎您,#{loginuser.name}
					li.nav-item
						span.nav-link |		
					li.nav-item
						a.nav-link(href="/logout") 登出
				else	
					li.nav-item
						a.nav-link(href="/signin") 登录
					li.nav-item
						span.nav-link |
					li.nav-item
						a.nav-link(href="/signup") 注册					
	if syserrmsg
		.alert.alert-danger.alert-dismissible.fade.in
			button.close(type="button", data-dismiss="alert")
				span &times;
			!{syserrmsg}

